__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# PyInstaller
build/
dist/
*.spec

# Application
credentials.json
token.json
config.json
Checkpoint.exe
credentials.example.json
